/*staring of body coding*/
body{
	background-image: url(bg.jpg);
	background-size:  100% 900px; 
	padding: 0;
	margin: 0;
	background-attachment: fixed;
}
/*end of body coding*/
/*start nav coding */
nav{
	width: 100%;
	height: 280px;
	float: left;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.8);
	padding: 50px;
}

#welcome-text{
	color: white;
	text-align: center; 
	font-size: 80px;
	padding: 0;
	margin: 0;  
}
#navbar{
	width: 900px;
	height: 80px;
	box-sizing: border-box;
	margin-top: 10px;
}
#nav-item{
	width: 20%;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	text-align: center;
	box-sizing: border-box;
}
a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size:  18px;
}
/*End nav coding*/
/*start homepage section coding*/
section{
	width: 800px;
	height: 478px;
	float: right;
	background-image: url(section-bg.png);
	box-sizing: border-box;
	padding: 100px;
}
#logo{
	width: 220px;
	height: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: white; 
	box-sizing: border-box; 
	margin-left: 150px;
}
#logo-text{
	color: white;
	font-size: 150px;
	text-align: center;
	font-family: verdana;
	padding: 0;
	margin: 0;
}
#domain-name{
	color: white;
	font-size: 60px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 20px;
}
/*End homepage section coding*/
/*Start login section coding*/
#domain-name-login{
	color: white;
	font-size: 60px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	text-align: center;
}
/*End login section coding*/
#login-fieldset{
	border-width: 3px;
	border-color: white;
	border-style: solid;
	float: left;
	width: 500px;
	height: 350px;
	box-sizing: border-box;
	margin-top: -50px;
	margin-left: 140px;
	padding: 30px;
}
#login-legend{
	color: white;
	font-family: century gothic;
	font-size: 35px;
	font-weight: bold;
}
#login-form{
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}
#username{
	width: 450px;
	height: 35px;
	box-sizing: border-box;
	background-color: inherit;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
}
#password{
	width: 450px;
	height: 35px;
	box-sizing: border-box;
	background-color: inherit;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
}
#login-btn{
	float: right;
	margin-top: 25px;
	border-width: 2px;
	border-style:  solid;
	border-color: white;
	width: 110px;
	height: 40px;
	background-color: inherit;
	color: white;
}
#contacts{
	color: white;
	font-size: 20px;
	line-height: 35px;
}
/*Start product section coding*/
#product-section{
	width: 100%;
	height: 477px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
	float: left;
}
#brand-header-text{
	text-align: center;
	font-family: century gothic;
	font-size: 40px;
}
#brand-pic{
	width: 150px;
	height: 50px;
	float: left;
	border-width:3px;
	border-color: #323232;
	border-style: solid;
	background-color: white;
	margin: 56px;
	margin-top: 26px;
}
#search{
	width: 60%;
	height: 50px;
	float: left;
	box-sizing: border-box;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	font-size: 16px;
	padding:8px;
	background-image: url(search.png);
	background-size: 40px,40px;
	background-repeat: no-repeat;
	background-position: right;
}
#zest-product{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: rgba(0,0,0,0.8)
}
#zest-header{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
#zest-goods{
	width: 250px;
	height: 300px;
	float: left;
	box-sizing: border-box;
	border-width:3px;
	border-color: white;
	border-style: solid;
	margin: 40px;
	margin-top: 20px;
	}
#dove-product{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: rgba(0,0,0,0.8)
}
#dove-header{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
#dove-goods{
	width: 250px;
	height: 300px;
	float: left;
	box-sizing: border-box;
	border-width:3px;
	border-color: white;
	border-style: solid;
	margin: 40px;
	margin-top: 20px;
	}

#beauty-product{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: rgba(0,0,0,0.8)
}
#beauty-header{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
#beauty-goods{
	width: 250px;
	height: 300px;
	float: left;
	box-sizing: border-box;
	border-width:3px;
	border-color: white;
	border-style: solid;
	margin: 40px;
	margin-top: 20px;
	}


#personal-product{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: rgba(0,0,0,0.8)
}
#personal-header{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
#personal-goods{
	width: 250px;
	height: 300px;
	float: left;
	box-sizing: border-box;
	border-width:3px;
	border-color: white;
	border-style: solid;
	margin: 40px;
	margin-top: 20px;
	}

#amica-product{
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	float: left;
	background-color: rgba(0,0,0,0.8)
}
#amica-header{
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
}
#amica-goods{
	width: 250px;
	height: 300px;
	float: left;
	box-sizing: border-box;
	border-width:3px;
	border-color: white;
	border-style: solid;
	margin: 40px;
	margin-top: 20px;
	}
/*End product section coding*/
/*Start footer section coding*/
#product-footer{
	width: 100%;
	height: 50px;
	float: left;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.8);
}
#product-name{
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	
}
#product-price{
	color: white;
	padding: 0;
	margin: 0;
	float: left;
	margin-left: 8px;
}
#shopping-cart{
	color: white;
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 8px;
}
#footer-text{
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	
}
/*End footer section coding
/*Start signup coding*/
#signup-fieldset{
	border-width: 3px;
	border-color: white;
	border-style: solid;
	float: left;
	width: 500px;
	height: 460px;
	box-sizing: border-box;
	margin-top: -100px;
	margin-left: 140px;
	padding: 30px;
}
#signup-legend{
	color: white;
	font-family: century gothic;
	font-size: 35px;
	font-weight: bold;
}
#signup-form{
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}
#signup-username{
	width: 450px;
	height: 35px;
	box-sizing: border-box;
	background-color: inherit;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
}
#signup-password{
	width: 450px;
	height: 35px;
	box-sizing: border-box;
	background-color: inherit;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	margin-top: 5px;
}
#signup-btn{
	float: right;
	margin-top: 25px;
	border-width: 2px;
	border-style:  solid;
	border-color: white;
	width: 110px;
	height: 40px;
	background-color: inherit;
	color: white;
}
/*End signup coding*/







